<app-nav-bar></app-nav-bar>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#addVehicleModal" (click)="setAction('add')">Add</button>
    <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#addVehicleModal"(click)="setAction('update');setContract()">Update</button>
    <button type="button" class="btn btn-link" (click)="deleteVehicle()">Delete</button>
  </div>
</div>

<ag-grid-angular
    style="width: 100%;"
    class="ag-theme-alpine"
    [rowData]="vehicles"
    [columnDefs]="columnDefs"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    rowSelection="single"
    [defaultColDef]="defaultColDef">
</ag-grid-angular>

<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addVehicleModalLabel">Add Vehicle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="saveVehicle(addForm)">
          <input type="hidden" name="vehicleId"  [(ngModel)]="vehicle.vehicleId" />
          <div class="form-group">
             <label for="name">Brand</label>
             <input type="text"  [(ngModel)]="vehicle.brand" name="brand" class="form-control" id="brand" placeholder="Brand" required>
          </div>
          <div class="form-group">
             <label for="email">Model</label>
             <input type="email" [(ngModel)]="vehicle.model" name="model" class="form-control" id="model" placeholder="Model" required>
          </div>
          <div class="form-group">
            <label for="email">Year</label>
            <input type="email" [(ngModel)]="vehicle.year" name="year" class="form-control" id="year" placeholder="Year" required>
         </div>
         <div class="form-group">
          <label for="email">VIN</label>
          <input type="email" [(ngModel)]="vehicle.vin" name="vin" class="form-control" id="vin" placeholder="VIN">
       </div>
       <div class="form-group">
        <label for="email">Price</label>
        <input type="email" [(ngModel)]="vehicle.price" name="price" class="form-control" id="price" placeholder="Price" required>
     </div>
          <div class="modal-footer">
             <button type="button" id="add-vehicle-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>
