<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Allane Mobility Group</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/contract" routerLinkActive="active">Contract</a>
      <a class="nav-item nav-link" routerLink="/customer" routerLinkActive="active">Customer</a>
      <a class="nav-item nav-link" routerLink="/vehicle" routerLinkActive="active">Vehicle</a>
    </div>
  </div>
</nav>
